<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <!-- <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li> --->
                    <!-- {% if site.twitter_username %} --->
                    <li>
                        <a href="https://twitter.com/justintpriest">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <!-- {% endif %} --->
                    {% if site.facebook_username %}
                    <li>
                        <a href="https://www.facebook.com/{{ site.facebook_username }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% if site.github_username %}
                    <li>
                        <a href="https://github.com/{{ site.github_username }}/{{ site.project_repository}}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    {% endif %}	
                    <li>
                        <a href="https://twitter.com/justintpriest">
                        <img class="img_sidelink" src="/img/icons/twitter-icon.png" alt="Twitter" style="width:45px;height:45px;"/></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/justin-priest/">
                        <img class="img_sidelink" src="/img/icons/linkedin-icon.png" alt="LinkedIn" style="width:45px;height:45px;border:60px solid transparent/> </a>
                    </li>
                </ul>
                <p class="newsection"> </p>
            </div>
            <br>                         
            <p class="copyright text-muted" align="center"> Copyright3 © <a href="http://justinpriest.github.io/" target="_blank">Justin Priest</a> </p>                                                                                                        
        </div>
    </div>
</footer>

